<a href="https://colab.research.google.com/github/Arulrajgopal/YT-Scrapping-to-SQL-Warehousing/blob/main/03_SqlLoad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#removing the existing cloning
!rm -r '/content/YT-Scrapping-to-SQL-Warehousing/'


#cloning git repo
!git clone https://github.com/Arulrajgopal/YT-Scrapping-to-SQL-Warehousing


#MongoDB Configuration Setup
%run '/content/YT-Scrapping-to-SQL-Warehousing/02_YoutubeAPI to MongoDB.ipynb'

In [2]:
!pwd

/content

In [3]:
!ls

sample_data  YT-Scrapping-to-SQL-Warehousing

In [5]:
import sqlite3
import pandas as pd

In [6]:
cursor = sqlite3.connect('YT-Scrapping-to-SQL-Warehousing/mydb.db').cursor()

In [7]:
channel_details_df = pd.DataFrame(ytscrapping_db.channel_details.find({},{'_id': False}))

In [15]:
command1 = """create table if not exists testtable
(id int,
name varchar(30)
)"""

cursor.execute(command1)

In [17]:
command2 = """insert into testtable
values
(1, 'govindha'),
(2, 'vivekandha');
"""

cursor.execute(command2)

In [20]:
cursor.close()